%h2= "Редактировать пользователя"
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  .account-text-boxes
    = f.input :email, :required => true, :autofocus => true, input_html: {placeholder: "Email"}
    = f.input :name, :required => true, input_html: {placeholder: "Ф.И.О."}, label: false, :hint => "Фамилия Имя Отчество, только русские буквы"
    = f.input :password, :autocomplete => "off", :hint => "оставте пустым, если не хотите изменить пароль", :required => false, input_html: {placeholder: "Новый пароль"}, label: false
    = f.input :password_confirmation, :required => false, input_html: {placeholder: "Подтверждение нового пароля"}, label: false
    = f.input :current_password, :hint => "введите свой текущий пароль, чтобы подтвердить изменения", :required => true, input_html: {placeholder: "Ваш текущий пароль"}, label: false
  = f.button :submit, "Обновить", class: [:shadow, :sign_button]
  .sign_links
    %h3 Удалить мой аккуант
    %p
      Удалить? #{link_to "Удалить мой аккуант", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete}.
    %p
      = link_to "Назад", :back
