%h2 Зарегистрироваться
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .account-text-boxes
    = f.input :email, :required => true, :autofocus => true, input_html: {placeholder: "Email"}, label: false
    = f.input :name, :required => true, input_html: {placeholder: "Ф.И.О."}, label: false, :hint => "Фамилия Имя Отчество, только русские буквы"
    = f.input :password, :required => true, input_html: {placeholder: "Пароль"}, label: false
    = f.input :password_confirmation, :required => true, input_html: {placeholder: "Повторите пароль"}, label: false
  = f.button :submit, "Создать аккуант", class: [:shadow, :sign_button]
  .sign_links
    = render "devise/shared/links"