= form_for @vacancy, :html => { :class => 'form-horizontal' } do |f|
  - if @vacancy.errors.any?
    .alert.alert-error
      %button.close{data: {dismiss: 'alert'}}
        &times;
      %h5= "#{pluralize(@vacancy.errors.count, "error")} prohibited this vacancy from being saved:"
      %ul
        - @vacancy.errors.full_messages.each do |msg|
          %li.text-error= msg
  .control-group
    = f.label :name, 'Название', :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :duedate, 'Срок действия', :class => 'control-label'
    .controls
      = f.text_field :duedate, :class => 'date_select', value: params[:action] == 'new' || params[:action] == 'create' ? Date.today.to_s : f.object.duedate
  .control-group
    = f.label :salary, 'Зарплата', :class => 'control-label'
    .controls
      = f.number_field :salary, :class => 'number_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field', value: params[:action] == 'new' ? current_user.email : f.object.email
  .control-group
    = f.label :phone, 'Тел.', :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  .control-group
    = f.label :skill_list, 'Навыки', :class => 'control-label'
    .controls
      = autocomplete_field_tag 'skill', '', autocomplete_skill_name_skills_path, :size => 75
      %a#add_skill{href: '#'}
        %i.icon-plus
    = f.hidden_field :skill_list, value: @vacancy.skill_list.join(','), class: 'skill_list'
  = skills_label(@vacancy.skill_list, true)
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), vacancies_path, :class => 'btn'
