- model_class = Vacancy
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= 'Название'
      %th= 'Зарплата'
      %th= 'Создано'
      %th
  %tbody
    - @vacancies.each do |vacancy|
      %tr
        %td= vacancy.name
        %td= vacancy.salary
        %td=l vacancy.created_at
        %td
          = link_to t('.show', :default => t("helpers.links.show")), vacancy_path(vacancy), :class => 'btn btn-mini btn-success'
          - if can? :manage, vacancy
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_vacancy_path(vacancy), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), vacancy_path(vacancy), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_vacancy_path, :class => 'btn btn-primary'
