- model_class = Vacancy
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong Название:
  = @vacancy.name
%p
  %strong Срок действия:
  = @vacancy.duedate
%p
  %strong Зарплата:
  = @vacancy.salary
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  = @vacancy.email
%p
  %strong Тел.:
  = @vacancy.phone
%p
  %strong Навыки:
  = skills_label(@vacancy.skill_list)
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), vacancies_path, :class => 'btn'
  - if can? :manage, @vacancy
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_vacancy_path(@vacancy), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), vacancy_path(@vacancy), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

.row
  .span6
    %h2
      Полностью подходят
  .span6
    %h2
      Частично подходят
.row
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th= 'Ф.И.О.'
          %th= 'Зарплата'
          %th= 'Создано'
          %th
      %tbody
        - @vacancy.fully_matched_vacancies.each do |resume|
          %tr
            %td= resume.name
            %td= resume.salary
            %td= l resume.created_at
            %td
              = link_to t('.show', :default => t("helpers.links.show")), resume_path(resume), :class => 'btn btn-mini btn-success'
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th= 'Ф.И.О.'
          %th= 'Зарплата'
          %th= 'Создано'
          %th
      %tbody
        - @vacancy.partially_matched_vacancies.each do |resume|
          %tr
            %td= resume.name
            %td= resume.salary
            %td= l resume.created_at
            %td
              = link_to t('.show', :default => t("helpers.links.show")), resume_path(resume), :class => 'btn btn-mini btn-success'