.row
  .span6
    %h2
      - if params[:controller] == 'home'
        Последние вакансии
      - else
        Вакансии
  .span6
    %h2
      - if params[:controller] == 'home'
        Последние резюме
      - else
        Резюме
.row
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th= 'Название'
          %th= 'Зарплата'
          %th= 'Создано'
          %th
      %tbody
        - vacancies.each do |vacancy|
          %tr
            %td= vacancy.name
            %td= vacancy.salary
            %td=l vacancy.created_at
            %td
              = link_to t('.show', :default => t("helpers.links.show")), vacancy_path(vacancy), :class => 'btn btn-mini btn-success'
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th= 'Ф.И.О.'
          %th= 'Зарплата'
          %th= 'Создано'
          %th
      %tbody
        - resumes.each do |resume|
          %tr
            %td= resume.name
            %td= resume.salary
            %td= l resume.created_at
            %td
              = link_to t('.show', :default => t("helpers.links.show")), resume_path(resume), :class => 'btn btn-mini btn-success'