%h2 Войти
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .account-text-boxes
    = f.error_notification
    = f.input :email, :required => false, :autofocus => true, input_html: {placeholder: "Email"}, label: false
    = f.input :password, :required => false, input_html: {placeholder: "Пароль"}, label: false
    = f.label :remember_me do
      = f.check_box :remember_me, :class => :checkbox
      Запомнить меня
  = f.button :submit, "Войти", class: [:shadow, :sign_button]
.sign_links
  = render "devise/shared/links"