// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills, .skills_right {
  span.label{
    line-height: 20px;
    margin: 2px;
  }
  .close {
    color: white;
    opacity: 1;
    margin-left: 5px;
    font-size: 13px;
  }
}

a#add_skill {
  font-size: 20px;
  text-decoration: none;
}

.hint {
  margin-left: 10px;
}

.error {
  display: block;
  color: #b94a48;
}