= form_for @resume, :html => { :class => 'form-horizontal' } do |f|
  - if @resume.errors.any?
    .alert.alert-error
      %button.close{data: {dismiss: 'alert'}}
        &times;
      %h5= "#{pluralize(@resume.errors.count, "error")} prohibited this resume from being saved:"
      %ul
        - @resume.errors.full_messages.each do |msg|
          %li.text-error= msg
  .control-group
    = f.label :name, 'Ф.И.О.', :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field', value: params[:action] == 'new' ? current_user.name : f.object.name
  .control-group
    = f.label :status, 'Стутус', :class => 'control-label'
    .controls
      = f.select :status, options_for_select([['Ищу работу', 1], ['Не ищу', 0]], @resume.status ? 1 : 0), :class => 'number_field'
  .control-group
    = f.label :salary, 'Зарплата', :class => 'control-label'
    .controls
      = f.number_field :salary, :class => 'number_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field', value: params[:action] == 'new' ? current_user.email : f.object.email
  .control-group
    = f.label :phone, 'Тел.', :class => 'control-label'
    .controls
      = f.text_field :phone, :class => 'text_field'
  .control-group
    = f.label :skill_list, 'Навыки', :class => 'control-label'
    .controls
      = autocomplete_field_tag 'skill', '', autocomplete_skill_name_skills_path, :size => 75
      %a#add_skill{href: '#'}
        %i.icon-plus
    = f.hidden_field :skill_list, value: @resume.skill_list.join(','), class: 'skill_list'
  = skills_label(@resume.skill_list, true)
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), resumes_path, :class => 'btn'