- model_class = Resume
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= 'Ф.И.О.'
      %th= 'Зарплата'
      %th= 'Создано'
      %th
  %tbody
    - @resumes.each do |resume|
      %tr
        %td= resume.name
        %td= resume.salary
        %td= l resume.created_at
        %td
          = link_to t('.show', :default => t("helpers.links.show")), resume_path(resume), :class => 'btn btn-mini btn-success'
          - if can? :manage, resume
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_resume_path(resume), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), resume_path(resume), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_resume_path, :class => 'btn btn-primary'
