- model_class = Resume
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong Ф.И.О.:
  = @resume.name
%p
  %strong Статус:
  = @resume.status ? 'Ищу работу' : 'Не ищу'
%p
  %strong Зарплата:
  = @resume.salary
%p
  %strong Email:
  = @resume.email
%p
  %strong Тел.:
  = @resume.phone
%p
  %strong Навыки:
  = skills_label(@resume.skill_list)
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), resumes_path, :class => 'btn'
  - if can? :manage, @resume
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_resume_path(@resume), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), resume_path(@resume), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

.row
  .span6
    %h2
      Полностью подходят
  .span6
    %h2
      Частично подходят
.row
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th= 'Название'
          %th= 'Зарплата'
          %th= 'Создано'
          %th
      %tbody
        - @resume.fully_matched_resumes.each do |vacancy|
          %tr
            %td= vacancy.name
            %td= vacancy.salary
            %td=l vacancy.created_at
            %td
              = link_to t('.show', :default => t("helpers.links.show")), vacancy_path(vacancy), :class => 'btn btn-mini btn-success'
  .span6
    %table.table.table-striped
      %thead
        %tr
          %th= 'Название'
          %th= 'Зарплата'
          %th= 'Создано'
          %th
      %tbody
        - @resume.partially_matched_resumes.each do |vacancy|
          %tr
            %td= vacancy.name
            %td= vacancy.salary
            %td=l vacancy.created_at
            %td
              = link_to t('.show', :default => t("helpers.links.show")), vacancy_path(vacancy), :class => 'btn btn-mini btn-success'
