!!!
%html
  %head
    %title Kadri
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{href: "/"} Кадровое агентство
    .container-fluid
      .row-fluid
        .span2
          %ul.nav.nav-pills.nav-stacked
            %li= link_to "Главная", root_path
            %li= link_to "Резюме", resumes_path
            %li= link_to "Вакансии", vacancies_path
          %h4 Навыки:
          .skills_right
            - Skill.valid_skills.each do |skill|
              = link_to skill_label(skill.name), skill_path(skill)
          %h4 Авторизация
          .home.column.left
            - unless current_user
              .connect
                = link_to 'Зарегистрироваться', new_user_registration_path, id: 'signin_link'
              .login
                Уже зарегистрированы?
                = link_to 'Войти', new_user_session_path, id: 'signin_link'
            - else
              = link_to current_user.email, edit_user_registration_path
              = link_to "Выйти", destroy_user_session_path, method: :delete
        .span10
          = render partial: 'shared/flash', locals: {flash: flash}
          = yield